@use '../../scss/' as *;

.hero-slide {
      @include mobile {
            display: none;
      }
}

.hero-slide__item {
      background-size: cover;
      height: 100%;

      &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 40%;
      }

      &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
      }

      .hero-slide__item__content {
            padding: 150px 0 0 0;
            width: 100%;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @include flex(center, space-around);



            .hero-slide__item__content__info {
                  opacity: 0;
                  transform: translateY(-100px);
                  transition: transform 0.5s ease, opacity 0.5s ease;

                  .title {
                        font-size: 50px;
                        font-weight: 900;
                        padding: 0 0 20px 0;
                  }

                  .overview {
                        font-weight: 700;
                        padding: 0 0 20px 0;
                  }

                  .btns {
                        button {
                              cursor: pointer;
                              font-family: $font-family;
                        }

                        .btn-watch {
                              border: 4px solid transparent;
                              background-color: $main-color;
                              color: $white;
                              border-radius: $border-radius;
                              padding: 10px 25px;
                              margin: 10px;
                              font-size: 20px;
                              font-weight: 600;
                              box-shadow: 0px 0px 7px 8px #ff00004d;
                              transition: box-shadow 0.3s ease;
                              position: relative;

                              &:hover {
                                    padding: 12px 28px;
                                    font-size: 22px;
                                    transition: padding, font-size 0.5s;
                                    box-shadow: 0px 0px 7px 15px #ff00004d;
                              }
                        }

                        .btn-trailer {
                              border: 2px solid;
                              background-color: rgba(0, 0, 0, 0.5);
                              color: $white;
                              border-radius: $border-radius;
                              padding: 12px 27px;
                              margin: 10px;
                              font-size: 20px;
                              font-weight: 600;
                              transition: box-shadow 0.3s ease;

                              &:hover {
                                    padding: 12px 28px;
                                    font-size: 22px;
                                    transition: padding, font-size 0.5s;
                              }
                        }
                  }


            }

            .hero-slide__item__content__poster {
                  position: relative;

                  img {
                        max-width: 350px;
                        border-radius: 5%;
                        box-shadow: $box-shadow;
                        margin: 0 100px 50px 50px;

                        transform: scale(0);
                        transition: transform 0.7s ease;

                        @include mobile {
                              max-width: 100px;
                              margin: auto;
                        }
                  }
            }

      }

      &:hover {
            .hero-slide__item__content__info {
                  opacity: 1;
                  transform: translateY(0);
            }

            .hero-slide__item__content__poster>img {
                  transform: scale(1);
            }
      }
}